#helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: derive(#735555, 50%);
    -fx-text-fill: white;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: derive(#735555, 70%);
}

#helpMessageContainer {
    -fx-background-color: derive(#F5EDDA, 20%);
}
